@tailwind base;
@tailwind components;
@tailwind utilities;

.balance {
  box-shadow: 0px 54px 20px -31px rgb(22 30 46 / 21%);
  -webkit-box-shadow: 0px 54px 20px -31px rgb(22 30 46 / 21%);
  -moz-box-shadow: 0px 54px 20px -31px rgb(22 30 46 / 21%);
}